@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    box-sizing: border-box;
}

body {
    background-color: yellow;
    height: 100%;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    max-height: auto;
    background-color: yellow;
    height: auto;
    width: auto;
}

.navbar a{
    text-decoration: none;
}

.navbar-title {
    text-align: left;
    background-color: rgb(5, 5, 158);
    color: yellow;
    border-radius: 8px;
    left: 0;
    padding: 6px;
    height: auto;
}

.imgNavbar {
    margin: 0 auto;
    padding-bottom: 20px;
    height: 100%;
}

.home-link {
    text-align: left;
    background-color: rgb(5, 5, 158);
    color: yellow;
    border-radius: 8px;
    padding: 6px;
}

.home-link:hover {
    position: relative;
    top: 4px;
    color: white;
}

.add-link {
    text-align: left;
    background-color: rgb(5, 5, 158);
    color: yellow;
    border-radius: 8px;
    padding-left: 5px;
    padding: 6px;
}

.add-link:hover {
    position: relative;
    top: 4px;
    color: white;
}

.home-title {
    text-align: center;
    background-color: rgb(5, 5, 158);
    color: yellow;
    border-radius: 8px;
    height: auto;
    width: auto;
}

.pokemon-title {
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
    width: 100%;
}

.pokeImg {
    padding-top: 10px;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
}

.home {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.msgLoading {
    text-align: center;
    color: yellow;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
    width: 100%;
}

.Pokemon-List-Preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-between;
    grid-gap: 20px;
    padding: 35px;
    background-color: white;
}

.Pokemon-List-Preview a {
    text-decoration: none;
}

.pokemon-card-preview {
    text-align: center;
    border: 2px solid rgb(5, 5, 158);
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: lightgray;
}

.pokemon-card-preview:hover {
    position: relative;
    top: -15px;
    box-shadow: 0px 8px 12px rgb(5, 5, 158);
}

.pokemon-types {
    display: flex;
    text-align: left; 
    width: 100%;
}

.pokemon-types-title-divider {
    border: 2px solid rgb(5, 5, 158);
}

.pokemon-types-title {
    text-align: left;
}

.pokemon-types-divider {
    border: 2px solid rgb(5, 5, 158);
}

.poke-type__item {
    padding: 10px;
    margin: 10px auto;
    max-width: 100px;
    font-weight: bold;
}

.poke-type__bug {
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__fire {
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__poison {
    background-color: rgb(138, 224, 8);
    border: 2px solid rgb(138, 224, 8);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__grass {
    background-color: rgb(82, 221, 82);
    border: 2px solid rgb(82, 221, 82); 
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__fairy {
    background-color: rgb(201, 111, 126);
    border: 2px solid rgb(201, 111, 126);   
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__flying {
    background-color: rgb(62, 214, 163);
    border: 2px solid rgb(62, 214, 163);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__psychic {
    background-color: purple;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__ice {
    background-color: rgb(18, 199, 223);
    border: 2px solid rgb(18, 199, 223);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__electric {
    background-color: rgb(224, 224, 45);
    border: 2px solid rgb(224, 224, 45);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__dark {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__normal {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__ghost {
    background-color: rgb(156, 53, 156);
    border: 2px solid rgb(156, 53, 156);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__dragon {
    background-color: gold;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__fighting {
    background-color: rgb(160, 14, 14);
    border: 2px solid rgb(160, 14, 14);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__ground {
    background-color: rgb(253, 115, 2);
    border: 2px solid rgb(253, 115, 2);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__steel {
    background-color: rgb(134, 98, 98);
    border: 2px solid rgb(134, 98, 98);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__rock {
    background-color: rgb(85, 75, 75);
    border: 2px solid rgb(85, 75, 75);
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.poke-type__water {
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
}

.pokemon-details {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: white;
    border: 10px solid rgb(5, 5, 158);
    border-radius: 8px;
}

.pokemon-details-title {
    text-align: center;
    color: yellow;
    background-color: rgb(5, 5, 158);
}

.BackButton {
    text-align: left;
    background-color: rgb(5, 5, 158);
    color: yellow;
    border-radius: 8px;
    padding: 6px;
}

.BackButton:active {
    position: relative;
    top: 4px;
}

.BackButton-Title {
    font-weight: bolder;
    color: yellow;
}

.BackButton-Title:hover {
    color: white;
}

.NewPokemon {
    align-content: center;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: white;
    border-radius: 20px;
}

.NewPokemonTitle {
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
    width: 100%;
}

.PokemonFormName {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.PokemonFormName-Title {
    width: 350px;
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
    
}

.PokemonFormInputText {
    font-weight: bolder;
    color: yellow;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(5, 5, 158);
    max-width: 150px;
}

.PokemonFormType {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.PokemonFormType-Title {
    width: 350px;
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
}

.SelectButton {
    width: 150px;
    text-align: center;
    font-weight: bolder;
    color: yellow;
    background-color: rgb(5, 5, 158);
    border-radius: 20px;
}

.select-items {
    font-weight: bolder;
    color: yellow;
}

.PokemonFormType2 {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.PokemonFormType2-Title {
    width: 350px;
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
}

.PokemonFormImg {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.PokemonFormImg-Title {
    width: 350px;
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
}

.select-file {
    width: 320px;
    font-weight: bolder;
    color: yellow;
    border-radius: 15px;
    background-color: rgb(5, 5, 158);
}

.Submit {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.SubmiteButton-Title {
    width: 350px;
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
}

.SubmitButton {
    width: 150px;
    font-weight: bolder;
    color: yellow;
    border-radius: 15px;
    background-color: rgb(5, 5, 158);
}

.SubmitButton:hover {
    color: white;
}

.SubmitButton:active {
    position: relative;
    top: 4px;
}

.PreviewNewCard-Title {
    color: yellow;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(5, 5, 158);
}

@media screen and (max-width: 767px) {
    body {
        border: none;
    }

    .home {
        padding: 20px;
    }

    .pokemon-list {
        grid-template-columns: repeat(auto-fill, 250px);
        justify-content: center;
    }
}

@media screen and (max-width: 1600px) {

    .navbar-title {
        position: relative;
        text-align: left;
        color: yellow;
        border-radius: 8px;
        left: 0;
        padding: 6px;
        margin-right: 10px;
        font-size: 15px;
    }

    .home-link {
        text-align: left;
        color: yellow;
        border-radius: 8px;
        padding: 6px;
        font-size: 15px;
    }

    .add-link {
        text-align: left;
        color: yellow;
        border-radius: 8px;
        padding-left: 5px;
        padding: 6px;
        font-size: 15px;
    }

    .imgNavbar {
        display: none;
        padding-bottom: 20px;
        width: 25%;
        height: 25%;
    }

    .home-title {
        text-align: center;
        color: yellow;
        border-radius: 8px;
        height: auto;
        width: auto;
        font-size: 15px;
    }

    .home {
        padding-bottom: 70px;
        height: auto;
        width: auto;
    }
}
